#bx-panel {
    position: fixed !important;
    bottom: 0;
    width: 100% !important;
}
.input-checkbox input[disabled] ~ span {
    opacity: .5;
}
.catalog-new_image {
    padding-top: 12px;
}
.header-bascket span,
.header-top_cart span{
    display: none;
}
.add-bascket_js.active {
    color: transparent;
    position: relative;
}
.add-bascket_js.active:before {
    font-size: 0.9em;
    content: 'В корзине';
    color: #fff;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
}
.step-hidden {
    display: none;
}
.catalog-navigation_prev.inactive,
.catalog-navigation_next.inactive {
    visibility: hidden;
}
.section-item_compare {
    cursor: pointer;
}
a.header-top_compare span,
a.header-top_compare span {
    display: none;
}

.popup {
    display: inline-block;
    margin: 50px 0;
    max-width: 570px;
    padding: 0;
    padding-bottom: 40px;
    overflow: hidden;
    width: 90%;
}

.modal.fancybox-content {
    display: inline-block;
}

.cabinet-info_edit {
    cursor: pointer;
}

.cabinet-userdata_input input {
    border-bottom: 1px solid #f1f1f1;
}
.cabinet-userdata_input input[readonly=readonly] {
    border: none;
}

.section-list_enum + .navigation_js {
    padding-top: 40px;
}

.ajax-container_js {
    position: relative;
}

.ajax-container_js.load:after {
    background: #fff;
    content: '';
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.ajax-loader {
    display: none;
}

.ajax-loader.load {
    background: transparent;
    border-radius: 50%;
    border-top: 4px solid #233691;
    border-left: 4px solid #233691;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    display: block;
    content: '';
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80px;
    z-index: 2;
    animation: cog 2s linear 0s infinite;
}

@keyframes cog {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* feild wrapper */

.feild_wrapper{
    display: inline-block;
    position: relative;
    width: 100%;
}
.feild_wrapper input,
.feild_wrapper textarea{
    -webkit-transition: ease-in 1000ms;
    -moz-transition: ease-in 1000ms;
    -ms-transition: ease-in 1000ms;
    -o-transition: ease-in 1000ms;
    transition: ease-in 1000ms;
}
.feild_wrapper.wrong input,
.feild_wrapper.wrong textarea{
    border-color: red;
    box-shadow: 0 0 5px red;
    -webkit-transition: ease-in 1000ms;
    -moz-transition: ease-in 1000ms;
    -ms-transition: ease-in 1000ms;
    -o-transition: ease-in 1000ms;
    transition: ease-in 1000ms;
}
.feild_wrapper .error_label{
    background: rgb(255,48,25); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
    border-radius: 4px;
    bottom: 100%;
    box-shadow: 1px 1px 3px #c9c9c9;
    color: #fff;
    font-size: 14px;
    left: 50%;
    margin-left: -120px;
    margin-bottom: 10px;
    padding: 6px;
    position: absolute;
    text-align: center;
    visibility: hidden;
    width: 240px;
    z-index: 3;
}
.feild_wrapper .error_label:after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 4px solid rgba(207,4,4,1);
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -2px;
}
.right_lebel .feild_wrapper .error_label{
    bottom: 50%;
    left: 100%;
    margin-left: 9px;
    margin-bottom: -14px;
}
.right_lebel .feild_wrapper .error_label:after{
    border-left: 5px solid transparent;
    border-right: 4px solid rgba(207,4,4,1);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    bottom: 7px;
    left: -7px;
    margin-left: -2px;
}
.left_lebel .feild_wrapper .error_label{
    bottom: 50%;
    left: auto;
    right: 100%;
    margin-right: 9px;
    margin-bottom: -14px;
}
.left_lebel .feild_wrapper .error_label:after{
    border-right: 5px solid transparent;
    border-left: 4px solid rgba(207,4,4,1);
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    bottom: 7px;
    left: auto;
    right: -7px;
    margin-right: -2px;
}
.feild_wrapper.wrong .error_label{
    visibility: visible;
    -webkit-animation: 400ms bounceIn;
    animation: 400ms bounceIn;
}